<h1>Détails de l’observation {{ observation.id }}</h1>

<ul>
    <li><strong>Date :</strong> {{ observation.date }}</li>
    <li><strong>Heure :</strong> {{ observation.heure }}</li>
    <li><strong>Animal :</strong> {{ observation.animal.nom }}</li>
    <li><strong>Latitude :</strong> {{ observation.latitude }}</li>
    <li><strong>Longitude :</strong> {{ observation.longitude }}</li>
    <li><strong>Description :</strong> {{ observation.description }}</li>
</ul>

<a href="/observs/">Retour à la liste</a>
